* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background: #000;
}

.header {
    background-image: url("./assets/background.jpg");
    background-size: cover;
}

@tailwind base;
@tailwind components;
@tailwind utilities;